/* Global Header
/* ---------------------------------------------------------- */

.gh-head {
    padding: 3vmin 4vmin;
    font-size: 1.6rem;
    line-height: 1.3em;
    background: inherit;
    grid-area: header;
    text-align: right;
}

@media (min-width: 1024px) {
    .gh-head {
        margin-left: 33%;
    }
}

.gh-head a {
    color: inherit;
    text-decoration: none;
}

.gh-head-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .gh-head-inner {
        align-items: flex-end;
    }
}

/* Brand
/* ---------------------------------------------------------- */

.gh-head-brand {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    max-width: 200px;
    text-align: center;
    word-break: normal;
    color: var(--color-primary);
}

@media (min-width: 768px) {
    .gh-head-brand {
        text-align: right;
    }
}

.gh-head-logo {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.2em;
}

.gh-head-logo img {
    max-height: 40px;
}


/* Primary Navigation
/* ---------------------------------------------------------- */

.gh-head-menu {
    display: flex;
    align-items: center;
}

.gh-head-menu .nav {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.gh-head-menu .nav li {
    margin: 0 1.5vmin 0 0;
    padding: 0;
}

.gh-head-menu .nav a {
    display: inline-block;
    padding: 5px 0;
}

.gh-head-menu .nav-current a {
    box-shadow: 0 -1px 0 0 currentcolor inset;
}


/* Secondary Navigation
/* ---------------------------------------------------------- */

.gh-head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: right;
}

.gh-head-actions-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.gh-head-actions-list a:not([class]) {
    display: inline-block;
    margin: 0 0 0 1.5vmin;
    padding: 5px 0;
}

/* Layout Variants
/* ---------------------------------------------------------- */

.gh-head-brandnavactions .gh-head-brand {
    grid-column-start: 1;
}

.gh-head-brandnav .gh-container {
    grid-gap: 0;
    grid-template-columns: auto max-content max-content;
}
.gh-head-brandnav .gh-head-brand {
     grid-column-start: 1;
}
.gh-head-brandnav .gh-head-menu {
    margin-left: 40px;
}
.gh-head-brandnav .gh-head-menu .nav li {
    margin: 0 0 0 1.5vmin;
    padding: 0;
}

/* Center Stacked */
.gh-head-stacked .gh-container {
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
}
.gh-head-stacked .gh-head-brand {
     grid-column-start: 1;
     width: 100%;
     max-width: none;
     display: flex;
     justify-content: center;
     text-align: center;
}
.gh-head-stacked .gh-head-menu,
.gh-head-stacked .gh-head-actions,
.gh-head-stacked .gh-head-actions-list {
    justify-content: center;
}
.gh-head-stacked .gh-head-actions a:first-child svg {
    margin-left: 0;
}

@media (max-width: 600px) {
    #gh-head .gh-head-menu {
        font-size: 6vmin;
    }
}
